<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap - 2.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/fonts/iconfont.css" rel="stylesheet" />
    <link href="~/Content/css/功能主页导航栏.css" rel="stylesheet" />
    <link href="~/Content/css/主页搜索栏.css" rel="stylesheet" />
    <link href="~/Content/css/商品详情页.css" rel="stylesheet" />
    <link href="~/Content/css/全局右侧工具条.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
    <style type="text/css">
        *{
            margin: 0;
            padding: 0;
        }
        #order-title{
            color: #666;
            font-weight: 600;
        }
        #relorder p{
            padding-bottom: 7px;
            padding-top: 7px;
            min-height: 34px;
            margin: 0;
        }
        #relorder .o-address{
            font-weight: 600;
        }
        #relorder .o-name{
            
        }
        #relorder .o-phone{
            font-weight: 600;
        }
        #relorder .o-code{
            font-weight: 600;
        }
        #relorder .o-text{
            color: #999;
            margin-left: 12px;
            display: inline-block;
        }
        #relorder .o-shop{
            font-weight: 600;
        }
        .table td{
            vertical-align: center;
        }
        .order-ok{
            height: 275px;
            position: relative;
        }
    </style>
</head>
<body>
    <!--               头部                  -->
    <!-- 导航栏 -->
    <div class="top-wrapper">
        <div class="top-content">
            <ul class="content-left">
                <li id="service-home">
                    <i class="glyphicon glyphicon-home"></i>
                    <a href="/Introduced/Index" target="_blank">服务主页</a>
                </li>
                <li id="address" class="dropdown">
                    <div class="dt cw-icon">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <span title="北京" data-id="1">北京</span>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="dd-spacer"></div>
                        <div class="ui-areamini-content-wrap" style="left: auto">
                            <div class="ui-areamini-content">
                                <div class="ui-areamini-content-list clearfix">
                                    <div class="item">
                                        <a data-id="1" class="selected">北京</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="2">上海</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="3">天津</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="4">重庆</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="5">河北</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="6">山西</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="7">河南</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="8">辽宁</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="9">吉林</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="10">黑龙江</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="11">内蒙古</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="12">江苏</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="13">山东</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="14">安徽</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="15">浙江</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="16">福建</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="17">湖北</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="18">湖南</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="19">广东</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="20">广西</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="21">江西</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="22">四川</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="23">海南</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="24">贵州</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="25">云南</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="26">西藏</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="27">
                                            陕西
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a data-id="28">甘肃</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="29">青海</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="30">宁夏</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="31">新疆</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="32">港澳</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="33">台湾</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="34">钓鱼岛</a>
                                    </div>
                                    <div class="item">
                                        <a data-id="35">海外</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="content-right">
                @Html.Action("LoginSummary", "Home")
                <li class="spacer"></li>
                <li class="fore2">
                    <div class="dt">
                        <a href="#" target="_blank">我的订单</a>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore3 dropdown" id="myfamer">
                    <div class="dt cw-icon">
                        <a target="_blank" href="#">我的农场</a>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="dd-spacer"></div>
                        <div class="myfmlist1">
                            <div class="fore1">
                                <div class="item">
                                    <a href="#">待处理订单<span class="num-unfinishedorder"></span></a>
                                </div>
                                <div class="item">
                                    <a href="#">返修退换货</a>
                                </div>
                                <div class="item">
                                    <a href="#">降价商品<span class="num-reduction"></span></a>
                                </div>
                            </div>
                            <div class="fore2">
                                <div class="item">
                                    <a href="#" target="_blank">消息<span class="num-tip"></span> </a>
                                </div>
                                <div class="item">
                                    <a href="#" target="_blank">我的问答<span class="num-consultation"></span></a>
                                </div>
                                <div class="item">
                                    <a href="#" target="_blank">我的关注</a>
                                </div>
                            </div>
                        </div>
                        <div class="myfmlist2">
                            <div class="fore1">
                                <div class="item">
                                    <a href="#">我的积分</a>
                                </div>
                                <div class="item">
                                    <a href="#">我的白条</a>
                                </div>
                            </div>
                            <div class="fore2">
                                <div class="item">
                                    <a href="#">我的优惠券<span class="num-ticket"></span></a>
                                </div>
                                <div class="item">
                                    <a href="#">我的理财</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore4" id="mymember">
                    <div class="dt">
                        <a target="_blank" href="#">我的会员</a>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore5 dropdown" id="enterprise">
                    <div class="dt cw-icon">
                        <a href="#" target="_blank">企业采购</a>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="dd-spacer"></div>
                        <div class="dd-inner" id="ent-main">
                            <div class="item">
                                <a href="#" target="_blank">企业购</a>
                            </div>
                            <div class="item">
                                <a href="#" target="_blank">商用产品馆</a>
                            </div>
                            <div class="item">
                                <a href="#" target="_blank">工业品</a>
                            </div>
                            <div class="item">
                                <a href="#" target="_blank">礼卡品</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore6 dropdown" id="serve">
                    <div class="dt cw-icon">
                        客服服务
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </div>
                    <div class="dropdown-layer dd">
                        <div class="dd-spacer"></div>
                        <div class="item-client">客户</div>
                        <div class="item">
                            <a href="#" target="_blank">帮助中心</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">售后服务</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">在线客服</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">意见建议</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">电话客服</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">客服邮箱</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">金融资讯</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">全球售客服</a>
                        </div>
                        <div class="item-business">商户</div>
                        <div class="item">
                            <a href="#" target="_blank">合作招商</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">学习中心</a>
                        </div>
                        <div class="item">
                            <a href="@Url.Action("Index","Seller")" target="_blank">商家后台</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">工作台</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">商家帮助</a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">规则平台</a>
                        </div>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="fore7 dropdown" id="navs">
                    <div class="dt cw-icon">
                        网站导航
                        <i class="glyphicon glyphicon-send"></i>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="dd-spacer"></div>
                        <!-- 网站导航部分代码 -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 搜索栏 -->
    <div class="header-wrap w" style="height: 112px">
        <div class="logo-2018">
            <img src="~/Images/logo.png" />
            <h2 class="logo-title">助农为乐</h2>
        </div>
        <div class="search-2018">
            <ul class="hide" id="shelper" style="display: none"></ul>
            @using (Html.BeginForm("Search", "Products", FormMethod.Post, new { @class = "form", id = "SearchForm" }))
            {
                <input placeholder="搜索商品" name="word" type="text" autocomplete="off" id="key" style="border:2px solid #c71525;
    border-right-width: 40px;" class="text" />
                <a onclick="document.getElementById('SearchForm').submit();" id="search" style="cursor:pointer;background-color: #c71525"><span class="glyphicon glyphicon-search"></span></a>}
        </div>
        @Html.Action("Summary", "Cart")
        <div class="saoma-2018">
            <a href="javascript:;" class="saoma-link">
                <i class="glyphicon glyphicon-qrcode"></i>
                <span class="saoma-text">扫码享受优惠</span>
            </a>
            <div class="saoma-photo" id="photo">
                <div class="saoma-img">
                    <img src="~/Images/headerqrcode.png" />
                </div>
            </div>
        </div>
        <div class="hotwords-2018">
            <a data-id="7469" target="_blank" class="highlight" href="#">
                生鲜11.11
            </a>
            <a data-id="2869" target="_blank" href="#">
                火锅
            </a>
            <a target="_blank" href="#">
                柚子
            </a>
            <a href="#" target="_blank">
                牛排
            </a>
            <a href="#" target="_blank">
                奶酪
            </a>
            <a href="#" target="_blank">
                酸奶
            </a>
            <a href="#" target="_blank">
                三文鱼
            </a>
            <a target="_blank" href="#">
                冬枣
            </a>
        </div>
    </div>
    <!-- 店家导航栏 -->
    <div class="wrapper" style="margin-top: 25px">
        <div class="wrapper-nav">
            <!-- 从这里开始居中 -->
            <div class="zn-wrap">
                <ul class="menu-list">
                    <li class="menu">
                        <a href="#" class="menu-link">首页</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="menu-link">全部水果</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="menu-link">苹果</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="menu-link">火龙果</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="menu-link">柠檬</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="menu-link">奇异果</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="menu-link">芒果</a>
                    </li>
                    <li class="menu">
                        <a href="#" class="menu-link">橙子</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="z-globe-toolbar">
        <div class="zn-toolbar-wrap z-wrap">
            <div class="zn-toolbar Z-toolbar">

            </div>
        </div>
    </div>

    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/bootstrapValidator.js"></script>
   
    @RenderBody()
   
</body>
</html>
